.mainlogo {
  display: block;
  color: $txt-accent;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__nav {
    margin-right: 93px;
  }

  &__nav--coloring {
    color: $txt-black;
  }

  &__footer {
    margin-bottom: 20px;
  }

  &__footer--coloring {
    color: $txt-white;
  }
}
