// Color

$bgc-primary: #ffffff;
$bgc-secondary: #f5f4fa;
$bgc-footer: #2f303a;
$bgc-button: #2196f3;
$txt-black: #212121;
$txt-grey: #757575;
$txt-accent: #2196f3;
$txt-white: #ffffff;
$txt-footer-contacts: rgba(255, 255, 255, 0.6);
$icons-customers: #afb1b8;

// Transition

$transition-duration: 250ms;
$transition-t-function: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
// $font-family: "Roboto", sans-serif;
// $font-family-logo: Raleway, sans-serif;

// $font-size-logo: 26px;


// $font-size: 


// Fonts: Weights
// $font-light: 300;
// $font-normal: 400;
// $font-bold: 700;

// Fonts: Sizes
// $font-sm: 90%;
// $font-sm-x: 80%;
// $font-lg: 110%;
// $font-lg-x: 120%;