$bgc-primary: #ffffff;
$bgc-secondary: #f5f4fa;
$bgc-footer: #2f303a;
$bgc-button: #2196f3;
$txt-black: #212121;
$txt-grey: #757575;
$txt-accent: #2196f3;
$txt-white: #ffffff;
$txt-footer-contacts: rgba(255, 255, 255, 0.6);
$icons-customers: #afb1b8;
$transition-duration: 250ms;
$transition-t-function: cubic-bezier(0.4, 0, 0.2, 1);
