.our-customers {
  padding: 94px 0;
}

.customers__list {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.customers__item {
  width: 170px;
  height: 90px;

  list-style-type: none;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $icons-customers;
  border-radius: 4px;
  width: 170px;
  height: 90px;

  transition: border $transition-duration $transition-t-function;
}

.customers__link:hover,
.customers__link:focus {
  border: 1px solid $txt-accent;
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: $bgc-button;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__icon {
  transition: fill $transition-duration $transition-t-function;

  fill: $icons-customers;
}